<section class="hero" id="hero">
  <div class="container hero-container">
    <img
      class="hero-title-img"
      src="./pictures/hero/girl-hero-desk.jpg"
      alt="girl in vyshyvanka"
    />
    <div class="hero-title-container">
      <h1 class="hero-title">
        Reviving the traditional
        <span class="hero-title-color"> Ukrainian </span> artistry in every
        stitch.
      </h1>
      <a class="hero-link" href="">
        ORDER
        <svg class="hero-link-icon" width="26" height="10">
          <use href="./img/icons.svg#icon-arrow"></use>
        </svg>
      </a>
    </div>
    <div class="hero-icon-img">
      <div class="hero-icon-container">
        <svg class="hero-icon" width="52" height="51">
          <use href="./pictures/icons.svg#icon-star"></use>
        </svg>
        <p class="hero-text">all embroidery is made by hand</p>
      </div>
      <img
        class="hero-end-img"
        src="./img/hero/map-ukr-hero.png"
        alt="map ukraine"
      />
    </div>
  </div>
</section>
