body {
  font-family: 'Manrope', sans-serif;
  background-color: #1c2225;
  color: #fcf9f9;
}

section {
  position: relative;
  padding-bottom: 80px;
}

.container {
  max-width: 375px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 44px;
  font-weight: 400;
  line-height: 1.23;
  letter-spacing: -0.03em;
}

h2 {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.38;
  letter-spacing: -0.03em;
}

.accented {
  color: #ecd979;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

@media screen and (min-width: 768px) {
  section {
    padding-bottom: 100px;
  }
  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  h1 {
    font-size: 54px;
    line-height: 1.19;
  }

  h2 {
    font-size: 44px;
    line-height: 1.45;
  }
}

@media screen and (min-width: 1280px) {
  section {
    padding-bottom: 150px;
  }

  .container {
    max-width: 1280px;
    padding: 0 100px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }

  h1 {
    font-size: 64px;
    line-height: 1.16;
  }
}
