.hero-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.hero-title-img {
  border-radius: 4px;
}

.hero-link {
  border-radius: 15px;
  display: flex;
  width: 168px;
  padding: 14px 39px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  background-color: rgba(0, 0, 0, 0);
  color: #fcf9f9;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 40px;
}

.hero-link:hover {
  border-color: #ecd979;
}

.hero-link:focus {
  border-color: #ecd979;
}

.hero-link-icon {
  fill: #ecd979;
}

.hero-icon {
  fill: #ecd979;
}

.hero-text {
  color: rgba(252, 249, 249, 0.4);
  text-align: center;
  font-size: 16px;
  line-height: normal;
  letter-spacing: -0.04em;
  max-width: 115px;
}

.hero-icon-img {
  display: none;
}

.hero-title-img {
  order: 1;
}

@media (min-width: 768px) {
  .hero-title {
    max-width: 534px;
  }

  .hero-link {
    margin: 40px auto 40px 141px;
  }

  .hero-title-img {
    width: 413px;
    height: 575px;
  }

  .hero-icon-img {
    position: absolute;
    bottom: -100px;
    left: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 679px;
  }

  .hero-icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
}

@media (min-width: 1280px) {
  .hero-title {
    max-width: 518px;
    margin-top: 94px;
  }

  .hero-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 40px;
  }

  .hero-title-img {
    width: 392px;
    height: 545px;
  }

  .hero-icon-img {
    left: 1040px;
    gap: 317px;
  }
}

@media (min-width: 1440px) {
  .hero-title {
    max-width: 632px;
    margin-top: 66px;
  }
  
  .hero-icon-img {
    left: 1200px;
    gap: 226px;
  }
}
