.hero {
    max-width: 100%;
}

.hero-container {
    display: flex;
    flex-direction: column;
}

.hero-title-img {
    border-radius: 4px;

}

.hero-title {
    color: #FCF9F9;
    font-size: 44px;
    line-height: 1.23;
    letter-spacing: -0.03em;
}

.hero-title-color {
    color: #ECD979;
}

.hero-link {
    border-radius: 15px;
    display: flex;
    width: 168px;
    padding: 14px 39px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid rgba(252, 249, 249, 0.10);
    background-color: rgba(0, 0, 0, 0);
    color: #FCF9F9;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 40px;
}

.hero-link:hover {
    border-color: #ECD979;
}

.hero-link:focus {
    border-color: #ECD979;
}

.hero-link-icon {
    fill: var(--yellow, #ECD979);
}

.hero-icon {
    fill: var(--yellow, #ECD979);
}

.hero-text {
    color: rgba(252, 249, 249, 0.40);
    text-align: center;
    font-size: 16px;
    line-height: normal;
    letter-spacing: -0.04em;
    max-width: 115px;
}

.hero-icon-container {
    text-align: center;
}

.hero-end-img {
    position: absolute;
    bottom: 50px;
    right: 100px;
}


@media (max-width: 768px) {
    .hero-end-img {
        display: none;
    }

    .hero-icon-container {
        display: none;
    }

    .hero-title-img {
        order: 1;
        width: 100%;
        height: auto;
        display: block;
    }

}

@media (min-width: 768px) {
    .hero-title {
        font-size: 54px;
        line-height: 1.19;
        width: 549px;
    }

    .hero-container {
        display: flex;
        flex-direction: column;
        padding-left: 0;
    }

    .hero-title-img {
        order: 1;
        display: block;
        width: 413px;
        height: 575px;
    }

    .hero-icon-container {
        position: absolute;
        right: 32px;
        top: 0;
    }

    .hero-end-img {
        position: absolute;
        right: 23px;
        bottom: 0;
    }

    .hero-text {
        margin: 0 auto;
    }

}

@media (min-width: 1280px) {
    .hero-title {
        font-size: 54px;
        line-height: 1.19;
        width: 518px;
    }

    .hero-container {
        display: flex;
        flex-direction: row-reverse;
        gap: 40px;
    }

    .hero-end-img {
        position: absolute;
        right: 23px;
        bottom: 50px;
    }

}

@media (min-width: 1440px) {

    .hero-title {
        font-size: 64px;
        line-height: 1.16;
        width: 630px;
    }

    .hero-container {
        display: flex;
        flex-direction: row-reverse;
        gap: 40px;
        width: 1440px;
    }

    .hero-end-img {
        position: absolute;
        right: 23px;
        bottom: 50px;
    }
}